#include <windows.h>
#include "Resource.h"

IDI_NTMU  ICON  "res\\ntmu.ico"

IDM_MAINMENU MENU
{
	POPUP "&File"
	{
		MENUITEM "&Open Pack...\tCtrl+O",               IDM_FILEOPEN
		MENUITEM "&Unload Pack...\tCtrl+W"              IDM_FILEUNLOAD
		MENUITEM SEPARATOR
		MENUITEM "E&xit\tAlt+F4"                        IDM_FILEEXIT
	}
	POPUP "&Tools"
	{
		MENUITEM "&Restart Explorer"                    IDM_TOOLSKILLEXPLORER
		MENUITEM "&Clear Icon/Thumbnail Cache"          IDM_TOOLSCLEARICOCACHE
		MENUITEM "Manage &System Restore..."            IDM_TOOLSSYSRESTORE
	}
	POPUP "&Help"
	{
		MENUITEM "&Help Topics..."                      IDM_HELPTOPICS
		MENUITEM "&Get Packs..."                        IDM_HELPGETPACKS
		MENUITEM SEPARATOR
		MENUITEM "&About Windows NT Modding Utility..." IDM_HELPABOUT
	}
}

IDA_MAIN ACCELERATORS
{
	"O", IDM_FILEOPEN, VIRTKEY, CONTROL
	"W", IDM_FILEUNLOAD, VIRTKEY, CONTROL
}

STRINGTABLE
{
	IDS_MAINWND        "Windows NT Modding Utility"
	IDS_PACKNAME       "Name:"
	IDS_PACKAUTHOR     "Author:"
	IDS_PACKVERSION    "Version:"
	IDS_APPLY          "&Apply"
	IDS_NOPREVIEW      "No preview"
}

IDD_ABOUT DIALOG 0, 0, 200, 100
STYLE WS_CAPTION | WS_SYSMENU | DS_SETFONT | DS_CENTER
EXSTYLE WS_EX_DLGMODALFRAME
CAPTION "About Windows NT Modding Utility"
FONT 8, "MS Shell Dlg 2"
{
	ICON IDI_NTMU, -1, 8, 8, 21, 20
	LTEXT "Windows NT Modding Utility", -1, 37, 8, 155, 8
	LTEXT "Version %u.%u.%u", IDC_VERSION, 37, 20, 155, 8
	LTEXT "NTMU is a system file modification tool for Windows. It is free and open-source software, licensed under the GNU General Public License (GPL) 3.0.",
		-1, 8, 36, 184, 24
	DEFPUSHBUTTON "OK", IDOK, 142, 78, 50, 14
	PUSHBUTTON "&GitHub", IDC_GITHUB, 88, 78, 50, 14
}

#include <ntverp.h>
#define VER_FILETYPE                    VFT_APP
#define VER_FILESUBTYPE                 VFT_UNKNOWN
#undef  VER_COMPANYNAME_STR
#define VER_COMPANYNAME_STR             "aubymori"
#undef  VER_PRODUCTNAME_STR
#define VER_PRODUCTNAME_STR             "Windows NT Modding Utility"
#define VER_FILEDESCRIPTION_STR         "Windows NT Modding Utility"
#define VER_INTERNALNAME_STR            "NTMU"
#define VER_LEGALCOPYRIGHT_YEARS        "2025"
#define VER_ORIGINALFILENAME_STR        "NTMU.exe"
#undef  VER_PRODUCTVERSION
#define VER_PRODUCTVERSION              VER_MAJOR,VER_MINOR,VER_REVISION,0
#undef  VER_PRODUCTVERSION_STR
#define VER_PRODUCTVERSION_STR          VER_STRING
#include <common.ver>